<div class="col-lg-3">
  <aside>
    <section>
      <h1>
        Courses Store
      </h1>
      <div id = "searcharea">
              <h2>Search Courses</h2>
           
                <%= form_tag search_path, :method => 'get' do %>                
                  
                  <%= text_field_tag :search, params[:search]%> </br>
                  <%= select_tag "type", options_for_select(["course", "sgid", "descriptions", "staff"],params[:type]), class: 'form_input'%>

                  
                  <%= submit_tag "Search", :name => nil %>            
                
                <%end%>
            </div>
    </section>
  </aside>
</div>